<div class="card" *ngIf='cart'>
    <div class="card-body">
      <h5 class="card-title">Cart Summary</h5>
      <p class="card-text">
        you have {{ cart.totalItemsCount }} items in your Shopping Cart.
      </p>
      <ul class="list-group list-group-flush">
          <li 
            class="list-group-item" 
            *ngFor='let item of cart.items'>
              {{ item.quantity }} x {{ item.product.title }}
              <div class="float-right">
                {{ item.totalPrice }}
              </div>
          </li>
          <li class="list-group-item font-weight-bold">
            Total  
            <div class="float-right">
              {{ cart.totalCount }}
            </div>
          </li>
        </ul>
    </div>
  </div>