.thumbnail {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-size: cover; 
}

.top-fixed {
    position: fixed;
    right: 10px;
    top: 136px;
}

.list-group-item .row {
    align-items: center;
}